.container {
	background-color: var(--light-theme-card-color-primary);
	color: var(--light-theme-text-color-primary);
	overflow: auto;
	height: 100%;
	min-height: 200px;
	border-radius: 8px;
}

.darkContainer {
	background-color: var(--dark-theme-card-color-primary);
	color: var(--dark-theme-text-color-primary);
}

.table {
	padding: 0.75rem;
	width: 100%;
	font-size: x-small;
}

.table thead th {
	/* border-bottom: none !important; */
	font-weight: 500;
	font-size: small;
	text-align: center;
	padding: 1.5vh 0;
	position: sticky;
	background-color: var(--light-theme-card-color-primary);
	top: 0;
	z-index: 1;
}

.darkTable thead th {
	background-color: var(--dark-theme-card-color-primary);
}

.table td {
	vertical-align: middle !important;
	border-top: 1px solid rgba(91, 91, 91, 0.4) !important;
	padding: 1vh;
	text-align: center;
}

.inputCheckBox {
	-webkit-appearance: none !important;
	-moz-appearance: none;
	appearance: none;
	width: 22px;
	height: 22px;
	border: 1px solid black;
	border-radius: 30%;
	cursor: pointer;
	padding: 3px !important;
}

.darkInputCheckBox {
	border: 1px solid white;
}

.inputCheckBox:checked::before {
	content: '\2713';
	color: #000000;
	display: flex;
	justify-content: center;
}

.darkInputCheckBox:checked::before {
	content: '\2713';
	color: #fff;
	display: flex;
	justify-content: center;
}

.mail {
	color: #5B5B5B;
}

.profileAvatar {
	height: 30px;
	width: 30px;
}

.progressBar {
	border: 1px solid #303E41;
	background: #081518;
}

.progressBar::-webkit-progress-value {
	background: linear-gradient(270.96deg, #2C82FF -39.91%, #00F6A3 124.85%);
}

@media screen and (max-width: 1023px) {
	.table {
		font-size: 9px;
	}
	.table thead th {
		font-size: 11px;
	}
	.profileAvatar {
		height: 25px;
		width: 25px;
	}
	.inputCheckBox {
		width: 15px;
		height: 15px;
		padding: 1px !important;
	}
}

@media screen and (min-height: 750px) {
	.table {
		font-size: medium;
	}
	.table thead th {
		font-size: medium;
	}
	.profileAvatar {
		height: 50px;
		width: 50px;
	}
}

@media screen and (min-height: 1150px) {
	.table {
		font-size: xx-large;
	}
	.table thead th {
		font-size: xx-large;
	}
	.profileAvatar {
		height: 75px;
		width: 75px;
	}
}