.bodyDark {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500; 
    color: #FFFFFF;
    padding: 0px;
}

.bodyLight {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    color: #1E1E1E;
    padding: 0px;
}

.name {
    font-size: 1vw;
}
 
.status {
    font-size: 0.8vw;
    color: #5B5B5B;
    text-align: end;
}

.mainContainer {
    align-items: center;
}

.circle {
    border-radius: 100%;
    background-color: #363636;
    max-width: 10px;
    height: 10px;
}

.circleDone {
    background-color: #09DE85;
}

.progressBar {
    height: 2px;
    border: 2px solid #09DE85;
}

.progressBar2 {
    height: 2px;
    border: 2px  solid #363636;
}