.title {
	/*border: 2px solid transparent;
  	background: linear-gradient(45deg, #00F6A3, #2C82FF) border-box;
  	-webkit-mask:
    	linear-gradient(#fff 0 0) padding-box, 
    	linear-gradient(#fff 0 0);
  	-webkit-mask-composite: xor;
    		mask-composite: exclude; */
	border-style: solid;
	border-width: 1px;
	border-image: linear-gradient(45deg, #00F6A3, #2C82FF) 1;
	border-radius: 16px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: 32px;
	padding: 0px 5px;
	margin: auto;
	z-index: -1;
}

.heading {
	padding: 0 5px;
	font-size: 10x;
}


.dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #09DE85;
}