.bodyDark {
    background-color: var(--dark-theme-bg-color-primary);
    padding-left: 0px;
    overflow-x: hidden;
}

.bodyLight {
    background-color:var(--light-theme-bg-color-primary);
    padding-left: 0px;
    overflow-x: hidden;
}

.head {
    margin-top: 1.5vh;
    justify-content: space-between;
     align-items: center;
}

.title {
    font-family: 'DM Sans';
    font-style: normal;         
    font-weight: 500;
    font-size: 2.2vw;
    color: #00F6A3;
}

.heading {
    font-weight: 400;
    font-size: 1.2vw;
    color: #FFFFFF;
    padding: 0 0 5px 15px;
}

.headingContainer {
    width: '90%'; 
    margin: 'auto';
}


.dateAndExport {
    align-items: center;
}

.bar {
    justify-content: center;
}

.chatContentBox {
    padding-top: 14vh;
}

.cardBox {
    height: 20vh;
}

.goBackContainer {
    padding: 5px 0px;
}

@media screen and (min-height: 1537px) {
    .goBackContainer {
        padding: 5px 0px;
    }
    .bar{
		margin: 1vh 0px ;
	}
    .chatContentBox {
        padding-top: 4vh;
    }
}

@media screen and (min-height: 896px) and (max-height:1536px) {
	.chatContentBox {
        padding-top: 5vh !important;
    }
}


@media screen and (min-height: 717px) {
    .bar{
		margin: 1vh 0px ;
	}
    .chatContentBox {
        padding-top: 11vh;
    }
}

@media screen and (max-height: 570px)  {
    .goBackContainer {
        padding: 2px;
    }
    .chatContentBox {
        padding-top: 11vh;
    }
}